<h3>{{viewTitle}}</h3>
<table class="table table-striped table-dark table-hover" id="myBooksTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <p>Type something in the input field to search the list for specific items:</p>
    <input class="form-control" id="myInput" type="text" onkeyup="customSearch()" placeholder="Search..">
    <br>
    {{#each list}}
    <tr class="table-success">
      <td>{{this.name}}</td>
      <td>{{this.author}}</td>
      <td>{{this.price}}</td>
      <td>
        <a class="btn btn-danger btn-sm" href="/customer/delete/{{this.id}}"
          onclick="return confirm('Are you sure you want to delete this record?');">Delete</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<script>
  function customSearch() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myBooksTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>